{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.browseract.com",
      "description": "AI Agent Tasks"
    }
  ],
  "paths": {
    "/v2/workflow/stop-task": {
      "put": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Stop Task",
        "description": "Stops a running browser automation task immediately.",
        "operationId": "stopTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "Task id from run-task",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "biz_code",
            "in": "query",
            "description": "Cancel business code",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/resume-task": {
      "put": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Resume Task",
        "description": "Resumes execution of a previously paused task. The task will continue from where it was paused. You can’t resume a stopped task.",
        "operationId": "resumeTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "Task id from run-task",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/run-task": {
      "post": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Start a new task execution",
        "description": "Initiates a new task with specified parameters and returns the task identifier.",
        "operationId": "runTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkflowTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCreatedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/run-task-by-template": {
      "post": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Start base template a new task execution",
        "description": "Initiates base template a new task with specified parameters and returns the task identifier.",
        "operationId": "runTemplateTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkflowTemplateTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCreatedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/list-workflows": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get a list of workflows",
        "description": "Retrieve list of workflows.",
        "operationId": "getWorkflowList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Minimum value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of workflow per page. Maximum value is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageRespApiWorkflowDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/list-tasks": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get a list of tasks",
        "description": "Retrieve paginated list of tasks with optional status filtering.",
        "operationId": "pageTasks",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter tasks by status. Valid values: created, running, finished, stopped, paused, failed",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Enumeration of possible task states.\n\n- created: Task is initialized but not yet started\n- running: Task is currently executing\n- finished: Task has completed successfully\n- stopped: Task was manually stopped\n- paused: Task execution is temporarily paused\n- failed: Task encountered an error and could not complete",
              "enum": [
                "created",
                "running",
                "finished",
                "canceled",
                "pausing",
                "paused",
                "failed",
                "unknown"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Minimum value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of tasks per page. Maximum value is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "workflow_id",
            "in": "query",
            "description": "Workflow Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageRespWorkflowTaskSimpleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/list-official-workflow-templates": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get official workflow templates",
        "description": "Get official workflow templates",
        "operationId": "getWorkflowTemplates",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Minimum value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of tasks per page. Maximum value is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageRespWorkflowTemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/get-workflow": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get workflow",
        "description": "Get workflow",
        "operationId": "getWorkflowConfig",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "query",
            "description": "Workflow Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkflowConfigDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/get-task": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get Task",
        "description": "Returns comprehensive information about a task, including its current status, steps completed, output (if finished), and other metadata.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "Task id from run-task",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/get-task-status": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get Task Status",
        "description": "Returns just the current status of a task (created, running, finished, stopped, or paused).\\nMore lightweight than the full task details endpoint.",
        "operationId": "getTaskStatus",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "Task id from run-task",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/get-region-list": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get support region list info",
        "description": "Get support region list info",
        "operationId": "getRegionList",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SysRegionSimpleView"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v2/workflow/get-official-workflow-template": {
      "get": {
        "tags": [
          "api-v-2-workflow-controller"
        ],
        "summary": "Get Official workflow",
        "description": "Get Official workflow",
        "operationId": "getWorkflowTemplateConfig",
        "parameters": [
          {
            "name": "workflow_template_id",
            "in": "query",
            "description": "Workflow Template Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseData"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkflowTemplateConfigDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseData": {
        "type": "object",
        "description": "Unified response entity",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Response code, 0 means success, \u003E0 means failure"
          },
          "msg": {
            "type": "string",
            "description": "Response message, returns error reference information when code\u003E0"
          },
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "ts": {
            "type": "integer",
            "format": "int64",
            "description": "Server timestamp"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "traceId": {
            "type": "string",
            "description": "Error ID for error tracking in logs"
          }
        }
      },
      "InputParamItemDto": {
        "type": "object",
        "description": "Input Param Item",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "value": {
            "type": "string",
            "description": "Value"
          }
        }
      },
      "RunWorkflowTaskRequest": {
        "type": "object",
        "description": "Request object to initiate a new task execution.",
        "properties": {
          "workflow_id": {
            "type": "string",
            "description": "Which workflow you need to run.",
            "title": "Workflow-id"
          },
          "input_parameters": {
            "type": "array",
            "description": "Input parameters for the workflow",
            "items": {
              "$ref": "#/components/schemas/InputParamItemDto"
            },
            "title": "Input Parameters"
          },
          "save_browser_data": {
            "type": "boolean",
            "description": "If set to true, a profile_id will be returned upon successful task initiation. This ID can be used to reuse browser data generated during this task.",
            "title": "Save Browser Data"
          },
          "profile_id": {
            "type": "string",
            "description": "Use a previously returned profile_id to reuse browser data (e.g., cookies) from an earlier task.",
            "title": "Browser Profile Id"
          },
          "open_incognito_mode": {
            "type": "boolean",
            "deprecated": true,
            "title": "Open Incognito Mode"
          },
          "callback_url": {
            "type": "string",
            "description": "Optional. HTTP/HTTPS URL to receive task completion notifications. The system will send a POST request with task results when the task finishes, fails, or is canceled. Maximum length: 2048 characters. Cannot point to private/local addresses.",
            "example": "https://your-server.com/webhooks/workflow-callback",
            "maxLength": 2048,
            "minLength": 0,
            "title": "Callback URL"
          },
          "status_change_callback_url": {
            "type": "string",
            "description": "Optional. HTTP/HTTPS URL to receive task status change notifications. The system will send a POST request with task results when the task's status change, such as running, finished, canceled, paused, failed. Maximum length: 2048 characters. Cannot point to private/local addresses.",
            "example": "https://your-server.com/webhooks/task-status-change-callback",
            "maxLength": 2048,
            "minLength": 0,
            "title": "Status Change Callback URL"
          }
        }
      },
      "TaskCreatedResponse": {
        "type": "object",
        "description": "Response containing details of the created task.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique task_id for this task, which can be used to track its progress or result."
          },
          "profile_id": {
            "type": "string",
            "description": "The profile_id will only be returned if save_browser_data is set to true, enabling reuse of browser data generated during this task."
          }
        },
        "required": [
          "id"
        ]
      },
      "RunWorkflowTemplateTaskRequest": {
        "type": "object",
        "description": "Request object to initiate base template a new  task execution.",
        "properties": {
          "proxyRegion": {
            "type": "string",
            "description": "Optional. Region where the proxy should be used.  default US",
            "example": "US",
            "title": "Proxy Region"
          },
          "workflow_template_id": {
            "type": "string",
            "description": "Which workflow you need to run.",
            "title": "Workflow-template-id"
          },
          "input_parameters": {
            "type": "array",
            "description": "Input parameters for the workflow",
            "items": {
              "$ref": "#/components/schemas/InputParamItemDto"
            },
            "title": "Input Parameters"
          },
          "callback_url": {
            "type": "string",
            "description": "Optional. HTTP/HTTPS URL to receive task completion notifications. The system will send a POST request with task results when the task finishes, fails, or is canceled. Maximum length: 2048 characters. Cannot point to private/local addresses.",
            "example": "https://your-server.com/webhooks/workflow-callback",
            "maxLength": 2048,
            "minLength": 0,
            "title": "Callback URL"
          },
          "status_change_callback_url": {
            "type": "string",
            "description": "Optional. HTTP/HTTPS URL to receive task status change notifications. The system will send a POST request with task results when the task's status change, such as running, finished, canceled, paused, failed. Maximum length: 2048 characters. Cannot point to private/local addresses.",
            "example": "https://your-server.com/webhooks/task-status-change-callback",
            "maxLength": 2048,
            "minLength": 0,
            "title": "Status Change Callback URL"
          }
        }
      },
      "ApiWorkflowDto": {
        "type": "object",
        "description": "Workflow Info",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow ID"
          },
          "name": {
            "type": "string",
            "description": "Workflow's name"
          },
          "description": {
            "type": "string",
            "description": "Workflow's description"
          },
          "create_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow created time"
          },
          "publish_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow Publish Time"
          }
        }
      },
      "PageRespApiWorkflowDto": {
        "type": "object",
        "description": "Paginated response containing items and metadata.",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          "items": {
            "type": "array",
            "description": "List of items for the current page.",
            "items": {
              "$ref": "#/components/schemas/ApiWorkflowDto"
            }
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of pages available."
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of total items."
          }
        }
      },
      "LiveUrlInfo": {
        "type": "object",
        "description": "URL info for viewing the live task execution screen. Available only when the task is in the running state.",
        "properties": {
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Screen width",
            "title": "width"
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Screen height",
            "title": "height"
          },
          "live_url": {
            "type": "string",
            "description": "URL of the live task execution screen, which can be directly embedded in an \u003Ciframe\u003E tag.",
            "title": "Live Url"
          }
        },
        "required": [
          "height",
          "width"
        ]
      },
      "PageRespWorkflowTaskSimpleResponse": {
        "type": "object",
        "description": "Paginated response containing items and metadata.",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          "items": {
            "type": "array",
            "description": "List of items for the current page.",
            "items": {
              "$ref": "#/components/schemas/WorkflowTaskSimpleResponse"
            }
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of pages available."
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of total items."
          }
        }
      },
      "TaskFailureInfo": {
        "type": "object",
        "description": "The task failure-related information has values only when the task execution fails.",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code",
            "title": "Code"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "title": "Message"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "TaskOutputDto": {
        "type": "object",
        "properties": {
          "string": {
            "type": "string",
            "description": "Task output as a plain string"
          },
          "files": {
            "type": "array",
            "description": "Download URL list for output files",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkflowTaskSimpleResponse": {
        "type": "object",
        "description": "Workflow simplified task information for listing purposes.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task ID",
            "title": "Task id"
          },
          "output": {
            "$ref": "#/components/schemas/TaskOutputDto",
            "description": "The task output data has values only when the task execution ends."
          },
          "status": {
            "type": "string",
            "description": "Task status (created, running, finished, canceled, pausing, paused, failed)",
            "enum": [
              "created",
              "running",
              "finished",
              "canceled",
              "pausing",
              "paused",
              "failed",
              "unknown"
            ]
          },
          "live_url_info": {
            "$ref": "#/components/schemas/LiveUrlInfo",
            "description": "URL info for viewing the live task execution screen. Available only when the task is in the running state.",
            "title": "Live Url"
          },
          "live_url": {
            "type": "string",
            "deprecated": true,
            "description": "URL to view the task execution live.",
            "title": "Live Url"
          },
          "profile_id": {
            "type": "string",
            "description": "Use the profile_id returned from a previous task to reuse browser data such as cookies."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Task created time",
            "title": "Created At"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "description": "Task finished time",
            "title": "Finished At"
          },
          "task_failure_info": {
            "$ref": "#/components/schemas/TaskFailureInfo",
            "description": "The task failure-related information has values only when the task execution fails."
          },
          "credit": {
            "type": "integer",
            "format": "int64",
            "description": "Credit cost of this task."
          },
          "workflow_id": {
            "type": "string",
            "description": "Workflow ID",
            "title": "Workflow Id"
          },
          "input_parameters": {
            "type": "string"
          }
        },
        "required": [
          "created_at",
          "id",
          "status",
          "workflow_id"
        ]
      },
      "PageRespWorkflowTemplateDto": {
        "type": "object",
        "description": "Paginated response containing items and metadata.",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          "items": {
            "type": "array",
            "description": "List of items for the current page.",
            "items": {
              "$ref": "#/components/schemas/WorkflowTemplateDto"
            }
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of pages available."
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of total items."
          }
        }
      },
      "WorkflowTemplateDto": {
        "type": "object",
        "description": "Workflow Template simplified information for listing purposes.",
        "properties": {
          "templateId": {
            "type": "string",
            "description": "Template Id",
            "title": "Template Id"
          },
          "name": {
            "type": "string",
            "description": "Template Name",
            "title": "Template Name"
          },
          "recommendDesc": {
            "type": "string",
            "description": "Template Recommend Desc",
            "title": "Template Recommend Desc"
          },
          "detailUrl": {
            "type": "string",
            "description": "Template Detail Url",
            "title": "Template Detail Url"
          }
        },
        "required": [
          "detailUrl",
          "name",
          "recommendDesc",
          "templateId"
        ]
      },
      "ApiWorkflowConfigDto": {
        "type": "object",
        "description": "Workflow Config Info",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow ID"
          },
          "name": {
            "type": "string",
            "description": "Workflow's name"
          },
          "description": {
            "type": "string",
            "description": "Workflow's description"
          },
          "create_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow created time"
          },
          "publish_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow Publish Time"
          },
          "input_parameters": {
            "type": "array",
            "description": "Definition of parameters that need to be input when running a workflow task",
            "items": {
              "$ref": "#/components/schemas/WorkflowInputParameterDto"
            }
          }
        }
      },
      "WorkflowInputParameterDto": {
        "type": "object",
        "description": "Workflow Input Parameter Info",
        "properties": {
          "name": {
            "type": "string",
            "description": "Workflow Input Parameter Name"
          },
          "default_enabled": {
            "type": "boolean",
            "description": "Workflow Input Parameter Default Value Enabled"
          }
        }
      },
      "TaskDownloadFileView": {
        "type": "object",
        "description": "Task download file view",
        "properties": {
          "guid": {
            "type": "string",
            "description": "File unique identifier"
          },
          "fileName": {
            "type": "string",
            "description": "Display file name"
          },
          "fileSize": {
            "type": "integer",
            "format": "int64",
            "description": "File size (bytes)"
          },
          "status": {
            "type": "string",
            "description": "File status"
          },
          "progress": {
            "type": "integer",
            "format": "int32",
            "description": "Download progress (0-100)"
          },
          "downloadUrl": {
            "type": "string",
            "description": "Pre-signed download URL (only has value in uploaded state)"
          },
          "downloadStartTime": {
            "type": "integer",
            "format": "int64",
            "description": "Download start timestamp"
          },
          "downloadCompletedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Download completion timestamp"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp (download completion time + 7 days)"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message (has value in cancelled/failed state)"
          },
          "createTime": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp"
          }
        }
      },
      "TaskStepDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Step ID",
            "title": "Id"
          },
          "step": {
            "type": "integer",
            "format": "int32",
            "description": "Task step serial",
            "title": "Step"
          },
          "status": {
            "type": "string",
            "description": "Step status (running, succeed, failed)",
            "enum": [
              "running",
              "succeed",
              "failed"
            ],
            "title": "Step Status"
          },
          "evaluation_previous_goal": {
            "type": "string",
            "description": "Evaluation result of the previous step",
            "title": "Evaluation Previous Goal"
          },
          "step_goal": {
            "type": "string",
            "description": "Execution target of the current step",
            "title": "Step Goal"
          },
          "screenshots_url": {
            "type": "string",
            "description": "Screenshot URL captured during the current step",
            "title": "Screenshots Url"
          }
        },
        "required": [
          "evaluation_previous_goal",
          "id",
          "screenshots_url",
          "status",
          "step",
          "step_goal"
        ]
      },
      "WorkflowTaskResponse": {
        "type": "object",
        "description": "workflow task response",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task ID",
            "title": "Task id"
          },
          "output": {
            "$ref": "#/components/schemas/TaskOutputDto",
            "description": "The task output data has values only when the task execution ends."
          },
          "status": {
            "type": "string",
            "description": "Task status (created, running, finished, canceled, pausing, paused, failed)",
            "enum": [
              "created",
              "running",
              "finished",
              "canceled",
              "pausing",
              "paused",
              "failed",
              "unknown"
            ]
          },
          "steps": {
            "type": "array",
            "description": "List of sub-steps within the task",
            "items": {
              "$ref": "#/components/schemas/TaskStepDto"
            },
            "title": "Steps"
          },
          "live_url_info": {
            "$ref": "#/components/schemas/LiveUrlInfo",
            "description": "URL info for viewing the live task execution screen. Available only when the task is in the running state.",
            "title": "Live Url"
          },
          "live_url": {
            "type": "string",
            "deprecated": true,
            "description": "URL to view the task execution live.",
            "title": "Live Url"
          },
          "profile_id": {
            "type": "string",
            "description": "Use the profile_id returned from a previous task to reuse browser data such as cookies."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Task created time",
            "title": "Created At"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "description": "Task finished time",
            "title": "Finished At"
          },
          "task_failure_info": {
            "$ref": "#/components/schemas/TaskFailureInfo",
            "description": "The task failure-related information has values only when the task execution fails."
          },
          "credit": {
            "type": "integer",
            "format": "int64",
            "description": "Credit cost of this task."
          },
          "download_files": {
            "type": "array",
            "description": "List of downloaded files for this task",
            "items": {
              "$ref": "#/components/schemas/TaskDownloadFileView"
            },
            "title": "Download Files"
          },
          "files_expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp for download files (task end time + 7 days)",
            "title": "Files Expires At"
          },
          "workflow_id": {
            "type": "string",
            "description": "Workflow ID",
            "title": "Workflow Id"
          },
          "input_parameters": {
            "type": "string",
            "description": "Workflow input parameters as key=value pairs when running the workflow task, separated by semicolons. Example: key1=value1;key2=value2",
            "title": "Workflow Input Parameters"
          },
          "log_detail_url": {
            "type": "string",
            "description": "Detail log url for this task",
            "title": "Log url"
          }
        },
        "required": [
          "created_at",
          "id",
          "status",
          "steps",
          "workflow_id"
        ]
      },
      "TaskStatusResponse": {
        "type": "object",
        "description": "task status response",
        "properties": {
          "status": {
            "type": "string",
            "description": "Task status (created, running, finished, canceled, pausing, paused, failed)",
            "enum": [
              "created",
              "running",
              "finished",
              "canceled",
              "pausing",
              "paused",
              "failed",
              "unknown"
            ],
            "title": "Status"
          }
        },
        "required": [
          "status"
        ]
      },
      "SysRegionSimpleView": {
        "type": "object",
        "description": "region",
        "properties": {
          "name": {
            "type": "string",
            "description": "region name"
          },
          "code": {
            "type": "string",
            "description": "region code",
            "maxLength": 30,
            "minLength": 0
          }
        }
      },
      "ApiWorkflowTemplateConfigDto": {
        "type": "object",
        "description": "Workflow Template Config Info",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow Template ID"
          },
          "name": {
            "type": "string",
            "description": "Workflow Template's  name"
          },
          "description": {
            "type": "string",
            "description": "Workflow Template's description"
          },
          "recommendDesc": {
            "type": "string",
            "description": "Template Recommend Desc",
            "title": "Template Recommend Desc"
          },
          "detailUrl": {
            "type": "string",
            "description": "Template Detail Url",
            "title": "Template Detail Url"
          },
          "create_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow Template created time"
          },
          "publish_at": {
            "type": "string",
            "format": "date-time",
            "description": "Workflow Template Publish Time"
          },
          "input_parameters": {
            "type": "array",
            "description": "Definition of parameters that need to be input when running a workflow task",
            "items": {
              "$ref": "#/components/schemas/WorkflowInputParameterDto"
            }
          }
        },
        "required": [
          "detailUrl",
          "recommendDesc"
        ]
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "description": "Bearer authentication header of the form Bearer \u003CAPI_KEY\u003E, where \u003CAPI_KEY\u003E is your api key.",
        "scheme": "bearer"
      }
    }
  }
}
